html,
body {
  margin: 10px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background: #f1f3f5;
  height: 100%;
}

img.icon {
  height: 200px;
  width: 200px;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex: 2 1 auto;
}

#uploadPanel {
  width: 100%;
  height: 100%;
  flex: 1 0 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#uploads {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

#passwordShield {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background: #333;
}

#password {
  outline: none;
  border: 3px solid #aaa;
  color: #aaa;
  font-size: 30px;
  border-radius: 5px 0 0 5px;
  font-weight: bold;
  background: none;
  padding: 6px;
  height: 50px;
  box-sizing: border-box;
}

#passwordSubmit {
  background: #aaa;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 0 5px 5px 0;
}

#passwordSubmit svg {
  width: 30px;
  height: 30px;
  color: #333;
}

.wrong #password {
  border: 3px solid #e77;
  color: #e77;
}

.wrong #passwordSubmit {
  background: #e77;
}

.right #password {
  border: 3px solid #7e7;
  color: #7e7;
}

.right #passwordSubmit {
  background: #7e7;
}

li {
  padding: 0;
  margin: 0;
}

#previewPc {
  width: 320px;
  height: 180px;
  object-fit: cover;
}

#previewMobile {
  width: 180px;
  height: 320px;
  object-fit: cover;
}

#uploadPanel.drag {
  filter: blur(20px) brightness(-10%);
}

input[type='file'] {
  display: none;
}

svg.mask {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  background: #aaa;
}

svg.mask {
  fill: white;
}

img.preview {
  object-fit: cover;
}

img.landscapePreview {
  width: 160px;
  height: 90px;
}

img.portraitPreview {
  width: 90px;
  height: 160px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  justify-content: stretch;
  background-color: white;
  box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03),
    0 1px 2px rgba(102, 119, 136, 0.3), 0 8px 12px rgba(58, 193, 203, 0.1);
}

.previews {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.preview {
  margin: 10px;
    box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03),
    0 1px 2px rgba(102, 119, 136, 0.3), 0 8px 12px rgba(58, 193, 203, 0.1);
}

.container:first-child {
  justify-content: space-around;
  align-items: end;
}

.container {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  width: 100%
}

h2 {
  font-size: 20px;
  margin: 5px;
}

button {
  color: #f1f3f5;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  vertical-align: center;
  line-height: 20px;
  display: inline-flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

button.upload {
  color: #6a4;
  border-right: 1px solid #eee
}

button.remove {
  color: #a46;
}

button > svg {
  height: 20px;
  margin-right: 5px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid red;
  border-right: 4px solid transparent;
  border-radius: 50px;
  animation: spin 600ms linear infinite;
}